html,
body {
  height: 100%;
  margin: 0;
}

.pokedex {
  background-color: red;
  color: red;
}

.pokedex-division {
  background-color: red;
  text-align: center;
  position: absolute;
  width: 100%;
  margin: auto;
  right: 0;
}

.pokemon-information {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 50px;
  color: white;
  background: black;
  margin: auto;
  text-align: left;
  font-size: 20px;
  padding: 20px;
  text-transform: capitalize;
  overflow: scroll;
  font-family: "Courier New";
  width: 25%;
}

.pokemon-information li {
  background-color: rgba(29, 106, 154, 0.4);
  font-size: 20px;
  margin: 4px;
  padding: 5px;
  border-radius: 10px;
}

.information-bar {
  padding: 20px;
  text-align: center;
  color: white;
  border: dotted white 3px;
  margin: auto;
  height: 100%;
  opacity: 0.9;
  font-size: 20px;
}

.pokemon-search {
  border: none;
  background: none;

  background-color: black;
  opacity: 0.5;
  width: 40%;
  text-align: center;
  font-size: auto;
  margin: 0 20px 20px 20px;
  border-color: black;
  border-radius: 0 0 20px 20px;
  transition: 0.7s;
  color: white;
  padding: 10px;
  height: 100%;
  text-transform: capitalize;
}

.pokemon-search:hover {
  opacity: 0.75;
}

.pokemon-search:focus {
  opacity: 0.75;
}

.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, 9%);
}

.grid-item {
}

.img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
