html,
body {
  height: 100%;
  margin: 0;
  background-color: red;
}

.pokedex {
  background-color: red;
  color: red;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.pokedex-division {
  background-color: red;
  text-align: center;
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
}

.pokemon-information-visible {
  visibility: visible;
}

.pokemon-search {
  border: none;
  background: none;

  background-color: black;
  opacity: 0.5;
  width: 40%;
  min-width: 200px;
  text-align: center;
  font-size: calc(2vw + 1vh);
  margin: 0 20px 20px 20px;
  border-color: black;
  border-radius: 0 0 20px 20px;
  transition: 0.7s;
  color: white;
  padding: 10px;
  height: 100%;
  text-transform: capitalize;
}

.pokemon-search:hover {
  opacity: 0.75;
}

.pokemon-search:focus {
  opacity: 0.75;
}

.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  justify-content: center;
}

.grid-item {
  justify-self: center;
}

.img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
