.pokeinfo {
  text-align: center;
  visibility: visible;
  height: 88%;
  width: 600px;
  font-size: 50px;
  color: white;
  font-size: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  margin: auto;
  top: 9%;
  /*
  left: 50%;
  margin-left: -20%;
  */

  will-change: transform;
  min-width: 300px;
  max-width: 85%;
  margin: 50px auto 0px;
  scroll-behavior: smooth;
}

.pokemon-information-background {
  background: red;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
}

.return-button {
  border: none;
  background: none;
  background-color: black;
  padding: 5px 30px 5px 30px;
  margin: 5px;
  border-radius: 10px;
  font-size: calc(0.75vw + 0.75vh);
  color: white;

  height: 100%;
  vertical-align: middle;
  text-align: right;
}

.return-link {
  width: 100%;
  vertical-align: middle;
  margin: auto;
}

/*
.bordered-list-item {
  background-color: rgba(70, 70, 70, 0.85);
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  border: solid white 3px;
  color: white;
  text-align: center;
  vertical-align: middle;
  width: auto;
  margin: 2px;
  font-size: 20px;
}
*/

.basic-info-box {
  padding: 30px;
  width: 25%;
  background-color: teal;
  border-radius: 10px;
}

.moves-box {
  /*
  display: grid;
  grid-gap: 0px;
  grid-column: auto;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  justify-content: center;
  background-color: darkgray;
  padding: 10px;
  border-radius: 30px;
  width: 80%;
  margin: auto;
  */

  width: 90%;
  text-align: left;
}

.image-box {
  width: 20%;
  height: 100px;
  margin: 10px auto 10px auto;
  padding: 20px;
}

.sprites {
  margin: auto;
}

.two-sprites {
  width: 50%;
  padding-top: 20px;
  float: left;
  margin: 0;
}

.two-sprites div {
  color: black;
  font-size: 15px;
}

.one-sprite {
  padding: 20px 0 0 0;
}

.image-box img {
  position: relative;
  border: solid black 2px;
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
  min-width: 25px;
  min-height: 25px;
  overflow: hidden;
  transition: 0.5s;
}

.up-image {
  background: url("./images/up-scroll.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 50%;
  position: relative;
}

.down-image {
  background: url("./images/down-scroll.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  position: relative;
  width: 50%;
}

.grid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  justify-content: center;
}

.grid-item {
  justify-self: center;
}

.pokemon-name {
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin: 3px auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  vertical-align: center;
}

.pokemon-idnum {
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  text-align: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: black;
  text-align: center;
  text-transform: capitalize;
}

.previous-btn {
  background: url("./images/prev.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: fixed;
  border: none;
  height: 35px;
  width: 75px;
  background-color: transparent;
  left: 1%;
  top: 0;
  transition: 0.5s;
}

.previous-btn:hover {
  background-color: rgb(97, 97, 97);
}

.next-btn {
  background: url("./images/next.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  border: none;
  height: 35px;
  width: 75px;
  background-color: transparent;
  right: 1%;
  top: 0;
  transition: 0.5s;
}

.next-btn:hover {
  background-color: rgb(97, 97, 97);
}

.padding-top {
  margin: 3%;
}

.padding-bottom {
  margin: 3%;
}

.info-box {
  padding: 0;
  display: block;
}

.typeandstat-info {
  height: 100%;
  background-color: transparent;
}

.types {
  margin: 0 5px 0 5px;
}

.typecard {
  margin: 0 5px 0 5px;
}

.uppercase {
  text-transform: uppercase;
}

.short-description {
  padding: 15px 30px 0 30px;
}

.genus-text {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.flavor-text {
  color: black;
  font-size: 15px;
  font-weight: 10;
  text-align: left;
}

.section-box {
  margin: 20px auto 10px auto;
  width: 90%;
  background: gray;
  text-align: left;
  font-weight: 500;
  padding: 5px 5px 5px 15px;
}

.profile-info-box {
  display: flex;
  margin: 0 20px 5px 10px;
  color: black;
  padding: 0 20px 0 20px;
}

.profile-info-box > strong {
  /*
  flex-basis: 30%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 3px;
  font-size: 14px;
  text-align: left;
  */
  margin: 0 0 0 10px;
  text-align: left;
  font-size: 14px;
  width: 25%;
  margin: 0 5px 0 5px;
}

.profile-info-box > span {
  /*
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 14px;
  text-align: right;
  */
  text-align: right;
  font-size: 14px;
  width: 25%;
  margin: auto;
}

.half {
}

.loading-screen {
  text-align: center;
}

.loading-screen-image {
  background-image: url("./images/pokeball-png.png");
  background-size: contain;
  height: 200px;
  width: 200px;
  -webkit-animation: rotate 2s forwards infinite;
  margin: auto;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
