@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Rubik&family=Source+Sans+Pro:wght@400;600;700&family=VT323&display=swap');

.statbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    width: 100%;
    margin: 7px 0;
}

.container-wrapper {
    display: flex;
    flex-direction: row;
    height: 20px;
    border-radius: 10px;
    width: 65%;
    background-color: navy;
    justify-content: left;
    margin-left: auto;
    border: 3px solid black;
}

.filler-styles {
    height: 100%;
    background: linear-gradient(0deg, rgba(6,141,21,1) 0%, rgba(95,250,96,1) 50%, rgba(6,141,21,1) 100%);
    border: 2px solid lightgrey;
    border-radius: 7px;
    text-align: right;
    align-content: center;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
}

.stat-num {
    /* font-family: 'Bruno Ace', cursive; */
    font-family: "VT323", monospace;
    color: #000;
    font-weight: bold;
    padding: 5px;
    align-content: center;
    justify-content: center;
    transform: translateY(-5px);
    /* margin: 0 0 10px 0; */
}

.statbar-wrapper label {
    color: white;
    /* width: 100%; */
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    text-align: left;
    white-space: nowrap;
}

.bar-wrapper {

}

.bar-fill {
    width: 100%;
    z-index: 200;
}

@media screen and (max-width: 550px) {
    .container-wrapper {
        width: 50%;
    }
}

